# Ignore dependencies
node_modules/
.npm/

# Ignore production builds
dist/
build/

# Ignore logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignore environment config files and database blueprints
.env
.env.*
!.env.example

# Ignore local system hidden files
.DS_Store
Thumbs.db
.git/
.gitignore
.dockerignore
metadata.json
